/* stylesheet */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  background-color: #23192D;
  display: flex;
  font-family: 'Alegreya Sans SC', sans-serif;
  flex-direction: column;
  height: 100%;
  margin: 10px 10px 10px 10px;
}

.header {
  color: #F5ECB7;
  /*flex-grow: 1;*/
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 60px;
  margin: 0 0 0 10px;
  padding: 0;
}

.shit {
  background-color: #F5ECB7;
  font-size: 100px;
  flex-grow: 6;
  margin: 10px 20px 20px 20px;
}
